.a{
 width: 100%;
 height: 600px;
 background-color: green;
}
.b{
  width: 100%;
  height: 600px;
  background-color: blue;
 }
 .c{
  width: 100%;
  height: 600px;
  background-color:yellow;
 }
 .d{
  width: 100%;
  height: 600px;
  background-color:red;
 }